@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

:root {
    --cor-principal: #C76D50;
    --cor-secundaria: white;
    --cinza-claro: rgb(211, 211, 211);
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: var(--cinza-claro);
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: var(--cor-principal);
    font-size: 24px;
    height: 100px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: 80px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 10px 10px;
}

.link {
    border-bottom: 2px solid transparent;
    transition: all ease 0.3s;
    transform: scale(0.9);
}

.link:hover {
    border-bottom: 2px solid var(--cor-secundaria);
    cursor: pointer;
    transition: all ease 0.3s;
    transform: scale(1);
}

.dark {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0.85);
}

.light {
    height: 600px;
    background-color: rgba(231, 231, 231, 0.8);
}

/* ----------------------------- */

.header-fake {
    height: 200px;
    background-image: url('../images/galpao.jpg');
    background-size: cover;
    background-position: top;
}

.appeal {
    text-align: center;
    background-color: var(--cor-principal);
    padding: 50px 0;
    border-bottom: 10px solid white;
}

.appeal h1 {
    font-size: 56px;
    font-family: 'Glore Font';
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom: 5px double white;
}

.appeal h2 {
    font-size: 40px;
}


.qr-code {
    background-image: url('../images/qr-code.jpg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin: 25px auto;
}

.donations p {
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
}

.pix {
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.pix h1, h2 {
    font-size: 38px;
    padding-bottom: 5px;
    border-bottom: 8px double var(--cor-principal);
}

/* ----------------------------- */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social h1 {
    font-size: 24px;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    transform: scale(0.9);
    transition: all ease 0.4s;
}
.social-icons a:hover {
    transform: scale(1);
    transition: all ease 0.4s;
}
.social-icons a ion-icon {
    width: 50px;
    height: 50px;
    transition: all ease 0.4s;
    border-radius: 50px;
    padding: 5px;
    color: var(--cor-principal);
}
.social-icons ion-icon:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    transition: all ease 0.4s;
    border-radius: 50px;
}

.icon {
    width: 40px;
    margin: 10px;
}