@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

:root {
    --cor-principal: #C76D50;
    --cor-secundaria: white;
    --cinza-claro: rgb(211, 211, 211);
}

body {
    font-family: 'Comfortaa', cursive;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: var(--cor-principal);
    font-size: 24px;
    background-color: rgba(17, 17, 17, 0.85);
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--cor-principal); */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: var(--cor-principal);
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 10px 20px;
}

.link {
    border-bottom: 2px solid transparent;
    transition: all ease 0.3s;
    transform: scale(0.9);
}

.link:hover {
    border-bottom: 2px solid var(--cor-principal);
    cursor: pointer;
    transition: all ease 0.3s;
    transform: scale(1);
}

/*----------CORPO------------*/

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.presentation {
    height: calc(100vh - 100px);
    background-color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-image: url('../images/galpao.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.dark {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0.85);
}

.presentation-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
    font-size: 64px;
}

.presentation-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
}

.presentation-text h1{
    font-size: 56px;
    margin-bottom: 20px;
}
.presentation-text h2{
    font-size: 32px;
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    padding: 10px 20px;
    border-radius: 20px;
}

.presentation-bottom {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
}

ion-icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: var(--cor-principal);
  }

.charisma{
    height: 600px;
    background-color: rgb(231, 231, 231);
    background-image: url('../images/grupo.jpg');
    background-size: cover;
    background-position: center;
}


.light {
    height: 600px;
    background-color: rgba(231, 231, 231, 0.8);
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
}
.title p {
    background-color: var(--cor-principal);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--cor-secundaria);
    font-size: 28px;
}

.content {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 20px rgb(54, 54, 54);
}

.content p {
    font-size: 56px;
    margin-bottom: 150px;
}

.decoration {
    font-size: 88px;
    color: var(--cor-principal);
    margin-top: 100px;
}

.founder-about {
    width: 50%;
    padding: 0 40px 40px 40px;
}

.founder-about-title {
    color: var(--cor-principal);
    font-size: 64px;
    margin: 45px 0;
}
.founder-about-title span {
    margin-left: 80px;
}

.founder-about p {
    font-size: 24px;
    margin: 25px 0px;
}

.founder-photo {
    width: 50%;
    height: auto;
    background-image: url('../images/neri.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.founder-name {
    position: absolute;
    bottom: 0px;
    left: 0;
    font-size: 36px;
    margin-left: -70px;
    margin-bottom: 15px;
    color: var(--cor-secundaria);
    background-color: var(--cor-principal);
    padding: 5px 25px;
    border-radius: 15px;
    font-weight: bold;
    font-style: italic;
}

.founder-photo img {
    width: 100%;
}

.photo {
    height: 600px;
    background-image: url('../images/foto.jpg');
    background-size: cover;
    background-position: center;
}

.qr-code-title {
    font-size: 32px;
    text-align: center;
    color: var(--cor-secundaria);
    margin-bottom: 50px;
}

.qr-code {
    width: 200px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social h1 {
    font-size: 24px;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.social-icons a:hover {
    transform: scale(1);
    transition: all ease 0.2s;
}

.icon {
    width: 40px;
    margin: 10px;
}